@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="col-lg-10 col-centered" style="height: 345px;">
    <hr>
    <h2 class="intro-text text-center text-danger">
        <strong>Wystąpił błąd</strong> <br/> <br/>
        <strong class="text-danger">Spróbuj ponownie</strong>
    </h2>
    <hr>
</div>