body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  
}

#map {
	width: 750px;
	height: 500px;
	margin: auto;
	padding: 0;
	z-index: 1;
	border: #000 solid 1px;
	margin-left: 0px;
	margin-top: 20px;
}

.leaflet-control-attribution:before {
	font-size: 16px;
	content: "Ś - Śmietnik \a" "B - Brama \a" "W - Woda";
	white-space: pre;
}

.leaflet-control-attribution a {
	display: none;
}