
    <div class="col-lg-6">
        <hr>
        <h2 class="intro-text text-center">
            <strong style="font-size: 1.25em">Administracja cmentarza</strong>
        </h2>
        <hr>
        <div style="margin-left: 100px;">
            <strong style="font-size: 1.25em">Biuro parafialne</strong>
            <p>ul. Krótka 7 <br /> 86-170 Nowe nad Wisłą</p>
            <p>tel. 52 332 75 11, wew. 21</p>
            <strong style="font-size: 1.25em">Administrator cmentarza</strong>
            <p>Piotr Motyliński</p>
            <p>tel. 608 209 137</p>
        </div>
    </div>
    <div class="col-lg-6">
        <hr>
        <h2 class="intro-text text-center">
            <strong style="font-size: 1.25em">Cmentarz</strong>
        </h2>
        <hr>
        <div style="margin-left: 100px;">
            <p>ul. Kolejowa 22 <br /> 86-170 Nowe nad Wisłą</p>
            <p><iframe style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2364.6755355589917!2d18.718731315503447!3d53.65275738004433!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4702c75d4da7bb6f%3A0x2ee2b1d199ffd200!2sCmentarz!5e0!3m2!1spl!2sus!4v1490815564416" width="400" height="300" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
        </div>
    </div>
    <!-- <p>nr telefonu, adres e-mail, adres biura?</p> -->
    <!-- </div> -->

@section ScriptsBottom
    {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/myScripts")
    <script src="~/Scripts/ajaxSearchScripts.js"></script>
}
